.ApplyDetail-ApplyDetail {
    position: absolute;
    z-index: 2;
    width: 521px;
    height: 347px;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
    background: #FFFFFF;
    border-radius: 12px;
    overflow: hidden;
}


.ApplyDetail-ApplyDetailName {
    width: 100%;
    height: 45px;
    padding-left: 20px;
    padding-top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.035em;
    color: #FFFFFF;

    /* 主色 */

    background: #3D6DB5;
    border-radius: 12px 12px 0px 0px;
}

.ApplyDetail-cancelBtn:hover {
    cursor: pointer;
    color: 'white'
}

.ApplyDetail-cancelBtn {
    position: absolute;
    left: 92%;
}

.ApplyDetail-mask {
    position: absolute;
    display: block;
    /* opacity: 0.6; */
    top: 0;
    ;
    margin-left: -276px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}