/* 导航栏样式 */

.head {
    position: fixed;
    top: 0;
    width: 100%;
}

.head-header {
    display: flex;
    justify-content: space-between;
    padding:0 10px 0 0;
    background-color: #fff;
}

.head-logo {
    font-size: 24px;
    font-weight: 700;
    color: #333333;
}

.head-logo:hover {
    cursor: pointer;
}

.head-logo>img {
    width: 65px;
    height: 50px;
}

.head-menu {
    width: 100%;
}