.userProject-right {
    width: 100%;
    height: calc(100vh - 64px);
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    /* padding: 70px 0;
    margin: 66px 0; */
    border: 1px solid rgba(0, 0, 0, .1);
}

.userProject-search {
    display: flex;
    justify-content: space-between;
    /* position: fixed;
    top: 64px; */
    width: 100%;
    padding: 16px 60px;
    font-size: 24px;
    background-color: rgb(239, 239, 239);
}

.userProject-content-all {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 0 10vh 0;
    font-size: 12px;
}


.userProject-content-all>div {
    height: 180px;
    width: 342px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 10px 17px;
    margin: 20px 30px 0 30px;
    border-radius: 5px;
    background-color: #fff;
}

.userProject-content-all>i {
    width: 342px;
    margin: 0 30px 0 30px;
}

.userProject-title {
    padding: 0 0 7px 0;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userProject-synopsis {
    height: 50px;
    margin: 0 0 25px 0;
    font-size: 16px;
    color: #999999;
    overflow: hidden;
    text-overflow: ellipsis;
    /*弹性伸缩盒子模型显示*/
    display: -webkit-box;
    /*限制在一个块元素显示的文本的行数,行数自己定*/
    -webkit-line-clamp: 2;
    /*设置或检索伸缩盒对象的子元素的排列方式*/
    -webkit-box-orient: vertical;
}

.userProject-button {
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
}

.userProject-button>button {
    width: 84px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
    margin: 0 0 0 10px;
    outline: none;
    background-color: rgba(71, 167, 255, 0.88);
    color: #fff;
}