.Freeze-Freeze {
    position: absolute;
    z-index: 2;
    width: 411px;
    height: 232px;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
    padding-left: 10px;
    background: #FFFFFF;
    border-radius: 12px;
    overflow: hidden;
}


.Freeze-FreezeName {
    width: calc(100% + 10px);
    height: 45px;
    padding-left: 10px;
    padding-top: 10px;
    margin-left: -10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
    line-height: 24px;
    letter-spacing: 0.035em;
    color: #FFFFFF;

    /* 主色 */

    background: #3D6DB5;
    border-radius: 12px 12px 0px 0px;
}

.Freeze-cancelBtn:hover {
    cursor: pointer;
    color: 'white'
}

.Freeze-cancelBtn {
    position: absolute;
    left: 92%;
}

.Freeze-mask {
    position: absolute;
    display: block;
    /* opacity: 0.6; */
    top: 0;
    ;
    /* margin-left: -100vw; */
    /* margin-top: -100vh; */

    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}